*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem_cabeçalho {
    width: 10%;
}

.lista_cabeçalho_item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}
.seçao_estudante{
    background-image: linear-gradient(#424E61,#16CFF8);
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 24px 0;
}
.titulo_seçao_estudante{
    padding: 24px 0;
}
.imagem_seçao_estudante{
    width: 25%;
}